<!DOCTYPE html>
<html lang="es-EC">
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=5, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <meta
      name="apple-itunes-app"
      content="app-id=1008177383, app-argument=//www.futbolecuador.com"
    />
    <meta
      name="google-play-app"
      content="app-id=com.misiva.futbolecuadorpush"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://www.futbolecuador.com/assets/img/apple-touch-icon-144-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://www.futbolecuador.com/assets/img/apple-touch-icon-114-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://www.futbolecuador.com/assets/img/apple-touch-icon-72-precomposed.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://www.futbolecuador.com/assets/img/apple-touch-icon-57-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="https://www.futbolecuador.com/assets/img/apple-touch-icon-144-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="https://www.futbolecuador.com/assets/img/apple-touch-icon-114-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="https://www.futbolecuador.com/assets/img/apple-touch-icon-72-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.futbolecuador.com/assets/img/apple-touch-icon-57-precomposed.png"
    />

    <meta property="fb:admins" content="1394074937285849" />
    <meta property="fb:app_id" content="95479719010" />

    <link rel="manifest" href="/manifest.json" />

    <link rel="icon" type="image/ico" href="favicon.ico" />
    <!-- iPhone 12 Pro Max -->
    <!-- <link
      rel="apple-touch-startup-image"
      media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3)"
      href="icons/apple-launch-1284x2778.png"
    /> -->
    <!-- iPhone 12, 12 Pro -->
    <!-- <link
      rel="apple-touch-startup-image"
      media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
      href="icons/apple-launch-1536x2048.png"
    /> -->
    <!-- iPad Pro 10.5" -->
    <!-- <link
      rel="apple-touch-startup-image"
      media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
      href="icons/apple-launch-1668x2224.png"
    /> -->
    <!-- iPad Pro 11" -->
    <!-- <link
      rel="apple-touch-startup-image"
      media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
      href="icons/apple-launch-1668x2388.png"
    /> -->
    <!-- iPad Pro 12.9" -->
    <!-- <link
      rel="apple-touch-startup-image"
      media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
      href="icons/apple-launch-2048x2732.png"
    /> -->

    <!-- dns-prefetch -->
    <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
    <link rel="dns-prefetch" href="https://ad.doubleclick.net" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://adservice.google.com" />
    <link rel="dns-prefetch" href="https://pagead2.googlesyndication.com" />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
    <link rel="dns-prefetch" href="https://www.google.com" />
    <link rel="dns-prefetch" href="https://securepubads.g.doubleclick.net" />
    <link rel="dns-prefetch" href="https://www.googletagservices.com" />
    <link rel="dns-prefetch" href="https://adservice.google.com.ec" />
    <link rel="dns-prefetch" href="https://www.google-analytics.com" />
    <link rel="dns-prefetch" href="https://connect.facebook.net" />
    <link rel="dns-prefetch" href="https://scripts.cleverwebserver.com" />
    <link rel="dns-prefetch" href="https://tpc.googlesyndication.com" />
    <link rel="dns-prefetch" href="https://www.facebook.com" />
    <link rel="dns-prefetch" href="https://stats.g.doubleclick.net" />
    <link rel="dns-prefetch" href="https://services.insurads.com" />
    <link rel="dns-prefetch" href="https://open.spotifycdn.com" />
    <link rel="dns-prefetch" href="http://gum.criteo.com" />
    <link rel="dns-prefetch" href="https://www.futbolecuador.com" />

    <link
      rel="preload"
      href="https://securepubads.g.doubleclick.net/tag/js/gpt.js"
      as="script"
    />

    <script
      async
      src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"
      type="text/javascript"
    ></script>    
  </head>
  <body>
    <!-- quasar:entry-point -->
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          appId: '95479719010',
          xfbml: true,
          version: 'v16.0',
        });
        FB.AppEvents.logPageView();
      };

      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js';
        fjs.parentNode.insertBefore(js, fjs);
      })(document, 'script', 'facebook-jssdk');
    </script>
  </body>
</html>
